{% extends "SllitePanelBundle::layout.html.twig" %}

{% block content %}
    {%  if (form is not null) %}
    <h1>Новый сайт</h1>
    <form action="{{ url('new_site') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="submit"/>
    </form>
    {%  endif %}
    <p><a href="{{ path('main') }}">На главную</a></p>
{% endblock %}
